<html>
  <head>
    <style>
      body {
          background-color: lightblue;
}

h1 {
    color: white;
}
      .center {
          padding: 70px 0;
          border: 3px solid white;
          text-align: center;
 }
    </style>
   </head>
  <body>
<div class="center block">
<h1>Welcome to lower Manhattan Restaurant Survey</h1>
<form class="form-horizontal" action="/login" method="POST">
  <div class="form-group">
    <label for="inputEmail3" class="col-md-2 control-label">Email</label>
    <div class="col-md-10">
      <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
    </div>
  </div>
  <div class="form-group">
    <label for="inputPassword3" class="col-md-2 control-label">Password</label>
    <div class="col-md-10">
      <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <button type="submit" class="btn btn-default">Sign in</button>
    </div>
  </div>
</form>
</body>
