<html>
  <head>
  </head>
  <body>
  <form action="/register" method="post" class="form-horizontal">
    <h1>Register</h1>
    <div class="control-group">
        <div class="controls">
          <input type="text" id="email" name="email" class="input-xlarge"
            placeholder="Enter email" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <input type="password" id="password1" name="password1" class="input-xlarge"
            placeholder="Enter Password" required>
          <input type="password" id="password2" name="password2" class="input-xlarge"
            placeholder="Confirm Password" required>
        </div>
    </div>

    <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn btn-success">Signin</button>
        </div>
    </div>
  </form>
  </body>
</html>
